@model DonglesAreGreat.Core.Models.Dongle
@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>
        Welcome to Dongles
    </h1>
    <h3>
        Description: <b>@Model.Description </b> <br />
        Status: <b> @Model.IsBroken </b> <br />
        Created: <b> @Model.Owner </b> <br />
    </h3>
    @foreach (var info in Model.DeviceInfo)
    {
        <p><b>DATA:</b>@info</p>
    }
</div>
